<connectionStrings>
  <!--<add name="ApostasBalasDBEntities" connectionString="metadata=res://*/ApostasBalasDB.csdl|res://*/ApostasBalasDB.ssdl|res://*/ApostasBalasDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ApostasBalasDB.mssql.somee.com;initial catalog=ApostasBalasDB;integrated security=false;;user id=BalasBolinhos_SQLLogin_1;pwd=6eaw5vuyxs;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="ApostasBalasDBEntities" connectionString="metadata=res://*/ApostasBalasDB.csdl|res://*/ApostasBalasDB.ssdl|res://*/ApostasBalasDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ApostasBalasDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>